{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
<div class="container posts-container">
    <p class="section-header">Recent <strong>Blog Posts</strong></p>
    <p class="section-header-link"><a href="tag/blog">More &raquo;</a></p>
    <div class="row">
        {{! Only showcase posts with the "Blog" tag }}
        {{#get "posts" filter="tag:-featured" }}
            {{!-- {{#foreach posts}}
            --}} {{#foreach posts from="4" to="9" }}

                <div class="col-sm-6 col-md-4 col-lg-4 post-block">
                    <article class="">
                        <header class="post-header">
                            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                        </header>
                        <section class="post-excerpt">
                            <p>{{excerpt words="36"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                        </section>
                    </article>
                    <footer class="post-meta-loop">
                        {{tags}}
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    </footer>
                </div>
                {{/foreach}}
        {{/get}}
    </div>
</div>

{{! Showcase one featured project with a background image }}
{{#get "posts" limit="1" filter="tag:featured" }}
    {{#foreach posts}}
        <div class="main-header featured-project" style="{{#if image}} background-size:cover; background-image:url({{image}}){{/if}}">
            <div class="image-overlay"></div>
            <div class="featured-project-banner">Featured <strong>Project</strong></div>
            <div class="vertical">
                <div class="main-header-content inner">
                    <div class="">
                        <a class="page-title-link" href="{{url}}"><h1 class="page-title">{{title}}</h1></a>
                    </div>
                    <div class="">
                        <p class="page-description">{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    {{/foreach}}
{{/get}}
