{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="portfolio-name" href="{{@blog.url}}"><span class="word">{{@blog.title}}</span></a>
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>
{{! The main content area on the homepage }}
<main class="content" role="main">
  <div class="container">
    <section class="gh-subscribe">
        <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
        <p>Get the latest posts delivered right to your inbox.</p>
        {{subscribe_form placeholder="Your email address"}}
        <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
    </section>

    {{#if error}}
      <p class="main-error">{{{error.message}}}</p>
    {{/if}}
  </div>

</main>
